.wrapper {
	width: 800px;
	margin: 10px auto;
	background-color: whitesmoke;
}
.title{
	text-align: center;
	margin-bottom: 5px;
	border: 2px solid grey;
}
.content{
	text-align: justify;
	padding-top: 10px;
	border: 2px solid grey;
}
h1 {
	color: hsl(180, 45%, 45%);
}
h2 {
	text-align: left;
	margin-left: 20px;
	color: teal;
	font-family:  monospace;
	font-weight:  bold;
	margin:  center;
	font-size: 20px;
}
/*
body {
	font-family:  monospace;
	overflow-y:  scroll;
}
*/
.text-box{
	font-family:  monospace;
	font-size: 12pt;
}
button {
	background-color: hsl(180, 53%, 39%);
}

